<div class="admin-panel-container">
  <div class="admin-panel-content">
    <h2>Admin Panel</h2>
    <div class="admin-buttons-panel">
      <button (click)="navigateTo('/new-assessment')">New Assessment</button>
      <button (click)="navigateTo('/view-active-assessments')">View Assessments</button>
      <button (click)="navigateTo('/view-submissions')">View Submissions</button>
      <button (click)="navigateTo('/new-admin')">New Admin</button>
      <button (click)="logOut()">Log Out</button>
    </div>
  </div>
</div>