
  <div class="info-panel">
    <div class="candidate-label">
      <label class="info-label">CANDIDATE ID: </label>
      <label>{{ candidateId }} </label>
    </div>
    <div class="candidate-label">
      <label class="info-label">CANDIDATE NAME: </label>
      <label>{{ candidateName }} </label>
    </div>
    <div class="candidate-label">
      <label class="info-label">ACTION: </label>
      <label>{{ candidateAction }} </label>
    </div>
    <div class="candidate-label">
      <label class="info-label">STATUS: </label>
      <label>{{ candidateStatus }}</label>
    </div>
  </div>

  <div class="compiler-page-container">
    <div class="code-compiler-section">
      <div class="code-editor-container">
        <div #editor class="codemirror-host"></div>
      </div>
      <div class="output-panel">
        <pre>{{ editerOutput }}</pre>
      </div>
    </div>

    <div class="buttons-panel">
      <label> JDK Version: {{jdkVersion}}</label>
      <button (click)="goBack()">Back</button>
    </div>
  </div>


<router-outlet></router-outlet>
