<div class="login-container">
  <div class="login-panel">
    <h2>Admin Login</h2>
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="adminId">Admin ID:</label>
        <input type="text" id="adminId" name="adminId" [(ngModel)]="adminId" required #adminIdInput="ngModel">
        <div *ngIf="adminIdInput.invalid && (adminIdInput.dirty || adminIdInput.touched)" class="validation-message">
          <div *ngIf="adminIdInput.errors?.['required']">Admin ID is required!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="adminPassword">Old Password:</label>
        <input type="password" id="adminOldPassword" name="adminOldPassword" [(ngModel)]="adminOldPassword" required #adminOldPasswordInput="ngModel">
        <div *ngIf="adminOldPasswordInput.invalid && (adminOldPasswordInput.dirty || adminOldPasswordInput.touched)" class="validation-message">
          <div *ngIf="adminOldPasswordInput.errors?.['required']">Admin Password is required!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="adminNewPassword">New Password:</label>
        <input type="password" id="adminNewPassword" name="adminNewPassword" [(ngModel)]="adminNewPassword" required #adminNewPasswordInput="ngModel">
        <div *ngIf="adminNewPasswordInput.invalid && (adminNewPasswordInput.dirty || adminNewPasswordInput.touched)" class="validation-message">
          <div *ngIf="adminNewConfirmPasswordInput.errors?.['required']">Old Password is required!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="adminNewConfirmPassword">Confirm Password:</label>
        <input type="password" id="adminNewConfirmPassword" name="adminNewConfirmPassword" [(ngModel)]="adminNewConfirmPassword" required #adminNewConfirmPasswordInput="ngModel">
        <div *ngIf="adminNewConfirmPasswordInput.invalid && (adminNewConfirmPasswordInput.dirty || adminNewConfirmPasswordInput.touched)" class="validation-message">
          <div *ngIf="adminNewConfirmPasswordInput.errors?.['required']">Admin Confirm is required!</div>
        </div>
      </div>

      <button type="submit" class="login-btn" (click)="resetPassword(loginForm)">Reset Password</button>
      <button type="submit" class="reset-btn" (click)="goBack()">Go Back</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
